[Desktop Entry]
Version=1.0
Name=MCC 134 Control Panel
Comment=Test MCC 134
Exec=/usr/share/mcc/daqhats/mcc134_control_panel
Type=Application
Categories=Utility
StartupNotify=false
Terminal=false
Icon=mcc_daqhats
NoDisplay=true
