[Desktop Entry]
Version=1.0
Name=MCC DAQ HAT Manager
Comment=Manage and control MCC DAQ HATs
Exec=/usr/bin/python3 /usr/share/mcc/daqhats/daqhats_manager.py
Type=Application
Categories=Utility
StartupNotify=false
Terminal=false
Icon=/usr/share/mcc/daqhats/icon.png
